p{
font-size:20px;
}

#but{
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:150px;
	width:300px;
	background-image:url(../img/logo.jpg);
	background-repeat:no-repeat;
	background-size:100%;
} 


@media screen and (max-width: 320px){
	p{
	font-size:8px;
	}
	
	img{
	width:100%;
	}
}

@media screen and (max-width: 480px){
	p{
	font-size:15px;
	}
	
	img{
	width:100%;
	}
}

@media only screen and (-Webkit-min-device-pixel-ratio: 2), /*chrome safari ...*/  
 only screen and (-moz-min-device-pixel-ratio: 1.5), /*mozilla*/  
 only screen and (-o-min-device-pixel-ratio: 3/2),  /*owerwise*/
 only screen and (min-device-pixel-ratio: 1.5) /**/{   
   #logo {  
     background-image: url(../img/logo.jpg);  
	 background-size:300px;
   }  
 }