p{
font-size:20px;
}

#but{
	padding:150px;
	background-image:url(../img/logo.jpg);
	background-repeat:no-repeat;
} 


@media screen and (max-width: 320px){
	p{
	font-size:8px;
	}
	
	img{
	width:100%;
	}
}

@media screen and (max-width: 480px){
	p{
	font-size:15px;
	}
	
	img{
	width:100%;
	}
}