html{
	font-size:10px;
}

p{
font-size:2em;
}

#but{
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:15em;
	width:30em;
	background-image:url(../img/logo2.jpg);
	background-repeat:no-repeat;
	background-size:100%;
} 


@media screen and (max-width: 320px){
	p{
	font-size:0.8em;
	}
	
	img{
	width:100%;
	}
}

@media screen and (max-width: 480px){
	p{
	font-size:1.5em;
	}
	
	img{
	width:100%;
	}
}

@media only screen and (-Webkit-min-device-pixel-ratio: 2), /*chrome safari ...*/  
 only screen and (-moz-min-device-pixel-ratio: 1.5), /*mozilla*/  
 only screen and (-o-min-device-pixel-ratio: 3/2),  /*owerwise*/
 only screen and (min-device-pixel-ratio: 1.5) /**/{   
   img{  
     background-image: url(../img/logo.jpg);  
	 background-size:100% auto;
   }  
 }