html{
	font-size:10px;
}
h1{
font-size:2.5em;
}
p{
font-size:1.6em;
}

#but{
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:15em;
	width:30em;
	background-image:url(../img/logo2.jpg);
	background-repeat:no-repeat;
	background-size:100%;
}
#mand p{
	background-image:url(../img/mandrill.jpg);
	background-repeat:no-repeat;
	background-size:100% 100%;
	
}
table{
	border:2px solid;
}

td{
	border:1px solid;
}

th{
	background:grey;
}

@media screen and (max-width: 320px){
	p{
		font-size:50vw;
	}
	table{
		width:100%;
	}
	tr{
		width:100%;
		display:block;
	}
	th{
		width:95%;
		text-align:center;
		display:block;
	}
	td{
		width:95%;
		display:block;
		text-align:center;
	}
	img{
		width:100%;
	}
}

@media screen and (max-width: 480px){
	p{
	font-size:1.5em;
	}
	table{
		width:100%;
	}
	tr{
		width:100%;
		display:block;
	}
	th{
		width:95%;
		text-align:center;
		display:block;
	}
	td{
		width:95%;
		display:block;
		text-align:center;
	}
	img{
		width:100%;
	}
}

@media only screen and (-Webkit-min-device-pixel-ratio: 2), /*chrome safari ...*/  
 only screen and (-moz-min-device-pixel-ratio: 1.5), /*mozilla*/  
 only screen and (-o-min-device-pixel-ratio: 3/2),  /*owerwise*/
 only screen and (min-device-pixel-ratio: 1.5) /**/{   
   img{  
     background-image: url(../img/logo.jpg);  
	 background-size:100% auto;
   }  
 }